@{
    var loggedInOrNot = Session["loggedIn"];
    if (loggedInOrNot == null || !loggedInOrNot.ToString().Equals("true"))
    {
        Response.Redirect("~/LoginPage.cshtml");

    }
    var roomInfo = UrlData[0];

    var db = Database.Open("AccountsDB");
    var selectQuery = "select *, CONVERT(varchar,date,3) as realDate from Rooms where Id=@0";

    var approved = "PENDING";
}

<!DOCTYPE html>
<html>
<head>
    <title>More info on booking</title>
</head>
<body>
    <button><a href="~/SuperUserPage.cshtml" style="text-decoration:none;">Home</a></button><br />
    <button><a href="~/LoginPage.cshtml" style="text-decoration:none;">Log Out</a></button>

    @foreach (var info in db.Query(selectQuery, roomInfo))
    {
        <label>Room Name : </label>
        <label>@info.name</label><br />

        <label>Room Price : </label>
        if (info.booked)
        {
            if (info.promoCodeUsed)
            {
                <label>@info.actualCost</label><br />
            }
            else
            {
                <label>@info.price</label><br />
            }
        }
        else
        {
            <label>@info.price</label><br />
        }

        <label>Max Capacity : </label>
        <label>@info.capacity</label><br />


        if (info.booked)
        {
            <label>Actual Capacity : </label>
            <label>@info.actualCapacity</label><br />
        }


        <label>Room Date : </label>
        <label>@info.realDate</label><br />

        <label>Room Start Time : </label>
        <label>@info.timeStart</label><br />

        <label>Room End Time : </label>
        <label>@info.timeEnd</label><br />

        <label>Room Booked By : </label>
        {
            if (info.booked)
            {
                var selectUserName = "Select * from allAccounts where accId = @0";
                var userInfo = db.QuerySingle(selectUserName, info.bookedBy);
                <label>@userInfo.userName</label><br />
            }
            else
            {
                <label>NOT BOOKED</label><br />
            }

        }

        <label>Room Promotional Code : </label>
        <label>@info.promoCode</label><br />

        if (info.booked)
        {
            <label>Room Promotional Code in use: </label>
            if (info.promoCodeUsed)
            {
                <label>YES</label> <br />
            }
            else
            {
                <label>FALSE</label> <br />
            }
        }

        <label>Approval Status: </label>
        if (info.approved)
        {
            approved = "Approved";
        }
        <label>@approved</label>


    }

</body>
</html>
