@{ 
    var loggedInOrNot = Session["loggedIn"];
    if (loggedInOrNot == null || !loggedInOrNot.ToString().Equals("true"))
    {
        Response.Redirect("~/LoginPage.cshtml");

    }

    var db = Database.Open("AccountsDB");

    var selectQuery = "select *, CONVERT(varchar,date,3) as realDate from rooms where launched =1";


    if(IsPost)
    {
        var start = Request.Form["roomDateStartFilter"];
        var end = Request.Form["roomDateEndFilter"];

        Response.Redirect(@Href("~/filteredTable.cshtml",start,end));
    }
}
    
<!DOCTYPE html>
<html>
<head>
    <title>Superuser Page</title>
    <link rel="stylesheet" href="~/stylesheetFile.css" />
</head>
<body>
    <button><a href="~/LoginPage.cshtml" style="text-decoration:none;">Log Out</a></button>
    <form method="post">
        <label>Start Date :</label>
        <input name="roomDateStartFilter" type="date" size="50" />

        <label>End Date :</label>
        <input name="roomDateEndFilter" type="date" size="50" />

        <input type="submit" value="Filter" />
    </form>
    <table class="superUserTable">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Name</th>
                <th>Date</th>
                <th>Approved Status</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        @foreach (var row in db.Query(selectQuery))
        {
            <tbody>
                <tr>
                    <td><a href="@Href("~/moreInfoSuppUser.cshtml",row.Id)" style="text-decoration:none;">More Info</a></td>
                    <td>@row.name</td>
                    <td>@row.realDate</td>
                    @if (row.approved)
                    {
                        <td>APPROVED</td>
                    }
                    else
                    {
                        <td>PENDING</td>
                    }

                    <td><a href="@Href("~/approveRoom.cshtml",row.Id)" style="text-decoration:none;">Approve Room</a></td>
                </tr>
            </tbody>
        }
    </table>
</body>
</html>
